@model ParadiseAvenueMuslimCemetery.Models.Email

@{
    ViewData["Title"] = "Donation";
    Layout = null;

}

<div class="container-fluid donate my-5 py-5" data-parallax="scroll" data-image-src="~/Theme/img/carousel-2.jpg">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Donate Now</div>
                <h1 class="display-6 text-white mb-5">Your generous donations help maintain the cleanliness, dignity, and ongoing care of the cemetery.</h1>
                <p class="text-white-50 mb-0">
                    “Whoever digs a grave for a deceased person and buries him, will receive the reward of giving him a place to reside in until the Day of Judgment.”
                </p>
                <p style="font:bold; text-align:center; color:white">(Saheeh al-Targheeb 3492 – Graded Saheeh by Al-Albaani)</p>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="h-100 bg-white p-5">
                    @using (Html.BeginForm("Donation", "Home", FormMethod.Post))
                    {
                        <div class="form-group mb-3">
                            @Html.LabelFor(m => m.Name)
                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control bg-light border-0", placeholder = "Your Name" } })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(m => m.EmailAddress)
                            @Html.EditorFor(m => m.EmailAddress, new { htmlAttributes = new { @class = "form-control bg-light border-0", placeholder = "Your Email" } })
                            @Html.ValidationMessageFor(m => m.EmailAddress)
                        </div>

                        <div class="form-group mb-3">
                            @Html.Label("Donation Amount")
                            <div class="btn-group d-flex justify-content-around">
                                @foreach (var amount in new[] { 10, 20, 30 })
                                {
                                    <label class="btn btn-light py-3">
                                        <input type="radio" name="Amount" value="@amount" @(amount == 10 ? "checked" : "") /> $@amount
                                    </label>
                                }
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary px-5" style="height: 60px;">
                            Donate Now
                            <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div><!-- Donate End -->
